error_log logs/error.log;

http {

    server {
        listen  80 default_server;
        listen  443  ssl;
        root /var/www/html;

        server_name {{ domains[0] }} {{ domains[1] }};

        ssl_certificate
        ssl_certificate_key

        if ($scheme != https){
            return 301 https://$host$request_uri;
        }
    }

}